table.alpha-attendance-table,
form[name="indexForm"] > table,
table.alpha-attendance-summary-table {
  font-size: 14px;
  font-family: monospace;
  border-collapse: collapse;
  height: 100%;
}

table.alpha-attendance-table td,
table.alpha-attendance-table th,
form[name="indexForm"] > table td,
form[name="indexForm"] > table th,
table.alpha-attendance-summary-table > td,
table.alpha-attendance-summary-table > th {
  border: none;
  padding: 0;
}

table.alpha-attendance-table tbody th,
form[name="indexForm"] > table tbody th {
  background: #aaa;
  padding: 8px 8px;
  border: 2px solid #fff;
}

table.alpha-attendance-table tbody tr:not(.stateSave):not(.statePresent):not(.stateRecognition),
form[name="indexForm"] > table tbody tr {
  background: #ededed;
}

table.alpha-attendance-table tbody td,
form[name="indexForm"] > table tbody td {
  padding: 8px 8px;
  border: 2px solid white;
}

table.alpha-attendance-table .alpha-attendance-select-pattern {
  width: 95px;
  font-size: 15px;
  font-family: monospace;
  padding: 3px;
}

table.alpha-attendance-table .alpha-attendance-input-time,
table.alpha-attendance-table .alpha-attendance-display-pattern {
  width: 60px;
  padding: 3px;
  font-size: 15px;
  font-family: monospace;
  text-align: right;
}

table.alpha-attendance-table input:read-only {
  border: none;
  background: transparent;
}

table.alpha-attendance-table td.alpha-attendance-center {
  text-align: center;
  padding: 0;
  height: 100%;
}

table.alpha-attendance-table td.alpha-attendance-center > label {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

table.alpha-attendance-table td.alpha-attendance-center > label:hover {
  background: rgba(255, 255, 255, 0.3);
}

table.alpha-attendance-table td.alpha-attendance-center input[type="checkbox"] {
  margin-top: 12px;
  cursor: pointer;
}

table.alpha-attendance-summary-table tbody th {
  background: #596ea2;
  padding: 10px 10px;
  border: 2px solid #fff;
  color: #fff;
}

table.alpha-attendance-summary-table tbody td {
  background: #eee;
  padding: 10px 25px;
  border: 2px solid #fff;
  font-size: 16px;
}

table.alpha-attendance-summary-table .alpha-attendance-summary-info > th {
  background: #5d8e40;
}

div.alpha-attendance-toolbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

div.alpha-attendance-toolbox .tool-item {
  padding: 12px 14px;
  background: #345098;
  color: #fff;
  cursor: pointer;
  margin: 0 2px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  user-select: none;
}

div.alpha-attendance-toolbox .tool-item:hover {
  background: #244088;
}

div.alpha-attendance-toolbox .tool-item:active {
 box-shadow: none;
 transform: translate(1px, 1px);
}

div.alpha-attendance-page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .1);
  display: none;
}

div.alpha-attendance-page-overlay.opened {
  display: block;
}

div.alpha-attendance-dialog {
  position: fixed;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
  border-radius: 3px;
  overflow: hidden;
  font-family: monospace;
}

div.alpha-attendance-dialog .dialog-title {
  padding: 10px;
  background: #6b9e76;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
}

div.alpha-attendance-dialog .body-section {
  padding: 10px;
}

div.alpha-attendance-dialog .buttons-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  color: #fff;
}

div.alpha-attendance-dialog .buttons-section > div {
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}

div.alpha-attendance-dialog .buttons-section .dialog-button-cancel {
  background: #b76161;
}

div.alpha-attendance-dialog .buttons-section .dialog-button-cancel:hover {
  background: #a03737;
}

div.alpha-attendance-dialog .buttons-section .dialog-button-done {
  background: #759cad;
}

div.alpha-attendance-dialog .buttons-section .dialog-button-done:hover {
  background: #3b758e;
}

form[name="inputForm"] > input[type="button"],
form[name="indexForm"] > input[type="button"] {
  display: inline-block;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  height: auto;
  min-width: unset;
  padding: 10px 25px;
  text-decoration: none;
  color: #0075bb;
  background: #ECECEC;
  transition: background .4s, color .4s;
}

form[name="inputForm"] > input[type="button"] {
  color: #0075bb;
  background: #ECECEC;
}

form[name="inputForm"] > input[type="button"]:hover {
  background: #57a1ab;
  color: white;
}

form[name="indexForm"] > input[type="button"] {
  color: #dca400;
  background: #ECECEC;
}

form[name="indexForm"] > input[type="button"]:hover {
  background: #d0a400;
  color: white;
}
