table.alpha-attendance-table {
  font-size: 14px;
  font-family: monospace;
  border-collapse: collapse;
  border: 2px solid #f0f0f0;
}

table.alpha-attendance-table th {
  background: #aaa;
  padding: 8px 8px;
  border: 2px solid white;
}

table.alpha-attendance-table tr:not(.stateSave):not(.statePresent):not(.stateRecognition) {
  background: #ededed;
}

table.alpha-attendance-table td {
  padding: 8px 8px;
  border: 2px solid white;
}

.alpha-attendance-select-pattern {
  width: 80px;
}

.alpha-attendance-input-time,
.alpha-attendance-display-pattern {
  width: 80px;
}

input:read-only {
  border: 1px solid #c6c6c6;
}